    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type ="module" src="/javascripts/comments.js" ></script>

{{#each recipes}}
{{> onerecipe}}
{{/each}}



<h2>Comments</h2>

{{> ulist comments}}



