<ul id="comment-list">
    {{#each this}}
    <li id={{this._id}} >
        <i class="fa fa-trash" data-commentid={{this.id}} ></i>
        <span>{{this.content}}</span>
    </li>
    {{/each}}
</ul>

