<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="//db.onlinewebfonts.com/c/ebfdb8a9445aaa9d97a485a5c5a13156?family=canela" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/d0525b7bc409f0a67b670470d5cb960c?family=Graphik+Thin" rel="stylesheet" type="text/css"/>
</head>
<body>
    {{>nav}}
    {{{body}}}
    {{>footer}}
</body>
</html>
